include ../bemto/index
include ../partials/_variables
include ../partials/_mixins
include ../components/popup

- var suffix = production ? '.min' : '';

doctype html
html(lang='ru')

  block variables
    - var title = defaultPageTitle;

  block head
    head
      meta(name='format-detection', content='telephone=no')
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      title= title
      link(href='static/css/index' + suffix + '.css', rel='stylesheet')
      link(rel='icon', href='static/favicon.png')

  block body
    body
      // SVG
      block svg
        div.svg-container(style="position: absolute; width: 0; height: 0; overflow: hidden;")
          include ../partials/_sprite.svg

      include ../components/preloader

      // picture element HTML5 shiv
      block inlineScripts
        script.
          document.createElement('picture');

      // Header
      block header
        include ../components/_header

      // Main content
      block main
        main

      block modals
        +popup({name: 'comePopup'})
        +popup({name: 'enrollPopup'})

      // Footer
      block footer
        include ../components/_footer

      // Scripts
      block scripts
        if locationMap === true
          script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIOpQ4aGs5lMqw0kWRFDTw07_m8jgHt04")
        script(src='static/js/index.jquery' + suffix + '.js')
        script(src='static/js/index' + suffix + '.js')