.block-7
  position: relative
  padding: 90px 0 36px
  &__container
  &__title
    max-width: 860px
    margin-bottom: 57px
    color: $white
    text-transform: none
    transform: translateX(-50px)
    opacity: 0
  &__img
    +coverdiv
    +cover
    z-index: -1
  &__btn
    transform: translateX(-50px)
    opacity: 0