.block-8
  padding: 112px 0
  &__top
    max-width: 860px
    margin: 0 0 70px
  &__label
    margin-bottom: 21px
  &__title
    max-width: 500px
    margin-bottom: 58px
  &__list
    display: flex
    margin: 0 -30px 20px
    &-more
      text-align: center
  &__item
    flex: 1 0 290px
    padding: 0 30px
    &-icon
      height: 70px
      margin-bottom: 29px
      img
        transition: transform .3s ease
        &:hover
          transform: scale(1.15)
        
    &-title
      margin-bottom: 15px
      text-transform: none