.screen
  display: flex
  position: relative
  height: 100vh
  align-items: center
  overflow: hidden
  &__container
  &__title
    opacity: 0
    transform: translateY(-30px)
    margin-bottom: 35px
    color: #fff
    +h1
    text-transform: none
  &__sub-title
    opacity: 0
    transform: translateY(-30px)
    margin-bottom: 35px
    +f('gil-300', 18)
    color: #fff
    text-transform: none
  &__btn
    opacity: 0
    transform: translateY(-30px)
    min-width: 180px
  &__more
    position: absolute
    right: 60px
    bottom: 100px
    transform: translateY(200%)
    &.has-anim
      animation: moving 2s ease-in-out infinite
    &-text
      writing-mode: vertical-lr
      color: #fff
      cursor: default
    &-icon
      position: absolute
      bottom: -50px
      left: -14px
      width: 49px
      height: 22px
      fill: $white
      transform: rotate(90deg)
  &__img
    //+coverdiv
    //+cover
    //z-index: -1