.come
  display: none
  position: relative
  height: 410px
  padding: 100px 0
  &__inner
    position: absolute
    left: 0
    right: 0
    z-index: 1
  h3
    max-width: 860px
    margin-bottom: 50px
    color: $white
    text-transform: none
    transform: translateX(-50px)
    opacity: 0
    +h3
  &__btn
    transform: translateX(-50px)
    opacity: 0