// basic styles
body
  min-width: 320px
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  +f('rob-300', 16, 28)
  letter-spacing: 0.025em
  color: $color2
  +xs
    font-size: 12px
    line-height: 20px
  &.is-locked
    overflow: hidden !important
    position: fixed
    top: 0
    left: 0
    right: 0
    height: 100%

.container
  position: relative
  max-width: 1280px
  margin: 0 auto
  +md
    max-width: 768px
  +xs
    padding: 0 15px
  &_md
    padding: 0 60px
    +md
      padding: 0 30px
      
.content
  margin-top: 60px

// typography

h1, h2, h3, h4, h5, h6
  b
    +f('gil-800')

p b,
p strong
  +f('rob-700')
  
// begin links //
.dev-link
  display: flex
  align-items: center
  color: $color4
  +f('rob-400')
  .no-touch &:hover .icon
    fill: $color1
  .icon
    margin-left: 11px
    +trs

.link-green
  +f('rob-700')
  color: $color1
  +trs
  .no-touch &:hover
    color: $color2
// end links //

// begin buttons //
.btn
  display: inline-block
  position: relative
  min-width: 210px
  height: 60px
  padding: 0 30px
  line-height: 60px
  border: 0
  +f('gil-800', 12)
  text-transform: uppercase
  text-decoration: none
  text-align: center
  color: inherit
  cursor: pointer
  letter-spacing: 0.1em
  .no-touch &:hover::after
    transform: scale(1)
  &::after
    pointer-events: none
    position: absolute
    z-index: 0
    transition: transform .3s ease-in-out
    content: ''
  &__text
    position: relative
    z-index: 1
  
  &_green
    background: $color1
    &::after
      top: -5px
      left: -15px
      right: -15px
      bottom: -5px
      transform: scale(.8)
      background: $color1
  
  &_black
    background: $black
    color: $white
    &::after
      top: -5px
      left: -25px
      right: -25px
      bottom: -5px
      transform: scale(0.7)
      background: $black
  
  &_white
    background: $color5
    color: $color2
    &::after
      top: -5px
      left: -16px
      right: -16px
      bottom: -5px
      transform: scale(0.82)
      background-color: $color5
  
  &_line
    height: auto
    line-height: 1
    padding: 0
    margin-right: 85px
    min-width: 0
    background: transparent
    .no-touch &:hover::after
      transform: translateX(17px)
    &::after
      pointer-events: none
      top: 50%
      left: calc(100% + 21px)
      right: auto
      bottom: auto
      z-index: 0
      margin-top: -4px
      width: 65px
      height: 8px
      background: $color1
  &_line-white::after
    background: $white

label.btn
  input
    display: inline-block
    position: relative
    z-index: 1
    height: auto
    line-height: 59px
    letter-spacing: 0.1em
    background: transparent
    padding: 0
    min-width: 0
    text-align: center
// end buttons //

// images effects
.img-hover
  display: block
  overflow: hidden
  .no-touch &:hover .img-hover__item,
  .no-touch &:hover img
    transform: scale(1.1) translate3d(0, 0, 0)
  &__item
    transition: .3s ease-in-out
  img
    transition: .3s ease-in-out

// animation
[data-items-anim="fade-top"]
  > *
    opacity: 0
    transform: translateY(50px)
    
[data-items-anim="fade-left"]
  > *
    opacity: 0
    transform: translateX(-50px)
    
[data-anim='fade-top']
  opacity: 0
  transform: translateY(60px)
  
[data-anim='fade-left']
  opacity: 0
  transform: translateX(-100px)