// basic styles
body
  min-width: 320px
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  +f('rob-300', 16, 28)
  letter-spacing: 0.035em
  height: 10000px
  color: $color2
  +xs
    letter-spacing: 0.015em

.container
  max-width: 1280px
  margin: 0 auto
  //padding: 0 15px

.has-selection
  &_green b::after
    background: $color1
  &_black
    b
      color: $white
    b::after
      background: $black
  b
    position: relative
    z-index: 1
    &::after
      position: absolute
      left: -11px
      top: 8px
      bottom: 1px
      right: 0
      width: 0
      content: ''
      z-index: -1
      transition: width 1.3s 1s ease
      +xs
        top: 6px
        left: -5px
  &.is-selected b::after
    width: calc(100% + 20px)
    +xs
      width: calc(100% + 9px)
    
// other
.block-top
  margin: 0 auto 62px

.block-title
  +h2
  transform: translateX(-70px)
  opacity: 0

.block-sub-title
  +f('gil-300')
  letter-spacing: 0.025em
  font-size: 18px
  line-height: 30px
  transform: translateX(-70px)
  opacity: 0

.block-label
  display: inline-block
  margin-bottom: 25px
  padding-left: 2px
  +f('rob-700', 16, 30)
  text-transform: uppercase
  transform: translateX(-70px)
  opacity: 0
  +xs
    margin-bottom: 5px
    font-size: 12px

h1, h2, h3, h4, h5, h6
  b
    +f('gil-800')

p b
  +f('rob-700')

// buttons
.btn
  display: inline-block
  position: relative
  min-width: 210px
  height: 60px
  padding: 0 30px
  line-height: 60px
  border: 0
  +f('gil-800', 12)
  letter-spacing: 1.2px
  text-transform: uppercase
  text-decoration: none
  text-align: center
  color: inherit
  cursor: pointer
  .no-touch &:hover::after
    transform: scale(1)
  &::after
    pointer-events: none
    position: absolute
    z-index: 0
    transition: transform .3s ease-in-out
    content: ''
  &__text
    position: relative
    z-index: 1
    
  &_green
    background: $color1
    &::after
      top: -5px
      left: -15px
      right: -15px
      bottom: -5px
      transform: scale(.8)
      background: $color1
  
  &_black
    background: $black
    color: $white
    &::after
      top: -5px
      left: -25px
      right: -25px
      bottom: -5px
      transform: scale(0.7)
      background: $black
  
  &_white
    background: $white
    color: $color2
    &::after
      top: -5px
      left: -16px
      right: -16px
      bottom: -5px
      transform: scale(0.82)
      background-color: $white
  
  &_line
    height: auto
    line-height: 1
    padding: 0
    margin-right: 85px
    min-width: 0
    background: transparent
    .no-touch &:hover::after
      transform: translateX(17px)
    &::after
      pointer-events: none
      top: 50%
      left: calc(100% + 16px)
      right: auto
      bottom: auto
      z-index: 0
      margin-top: -4px
      width: 65px
      height: 8px
      background: $color1
  &_line-white::after
    background: $white

label.btn
  input
    display: inline-block
    position: relative
    z-index: 1
    height: auto
    line-height: 59px
    background: transparent
    padding: 0
    min-width: 0
    text-align: center

// images effects
.img-hover
  display: block
  overflow: hidden
  +gpu
  .no-touch &:hover .img-hover__item,
  .no-touch &:hover img
    transform: scale(1.1)
  &__item
    transition: .3s ease-in-out
  img
    transition: .3s ease-in-out

.img-blur
  +coverdiv
  z-index: -1
  width: 100%
  height: 100%
  image
    width: calc(100% + 20px)
    height: calc(100% + 20px)
    transform: translate(-10px, -10px)
  path
    transform: scale(1) translateX(40%)
  //&_sm
  //  image
  //    width: calc(100% + 10px)
  //    height: calc(100% + 10px)
  //    transform: translate(-5px, -5px)
  //  polygon
  //    transform: none
  text
    +f('gil-800', 250, 80)
    text-anchor: middle
    text-transform: uppercase
  &_static
    position: static
    left: auto
    top: auto
    bottom:  auto
    z-index: auto
    image
      width: calc(100% + 10px)
      height: calc(100% + 10px)
      transform: translate(-5px, -5px)
      