.preloader
  display: none!important
  position: fixed
  z-index: 100
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  opacity: 1
  background: $color1
  pointer-events: none
  &__img
    opacity: 0
    width: 296px
    height: 110px
    &-letter
      //opacity: 0
      &-dot
        animation: smallBounce 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate
        animation-delay: 0s

.expand-list
  text-align: center
  &__inner
    margin: 0 -30px
    text-align: left
    font-size: 0
  &__item
    display: inline-block
    vertical-align: top
    width: 25%
    padding: 20px 30px
    transform: translateX(-50px)
    opacity: 0
    &.is-hidden
      display: none
    p
      font-size: 16px
      +xs
        font-size: 12px
  &__more
    text-align: center
  &__btn
    transform: translateX(-50px)
    opacity: 0
    
.logo
  $parent: &
  display: flex
  align-items: center
  justify-content: center
  flex-shrink: 0
  &__img
    width: 80px
    height: 20px
    &-first
      fill: $color1
      +trs
    &-last
      fill: $white
      +trs
  &_header
    .no-touch &:hover #{$parent}__img-first
      fill: $white
    .no-touch &:hover #{$parent}__img-last
      fill: $color1
      
.tel-block
  a
    +f('rob-700')
    +trs
    color: $color2
    .no-touch &:hover
      color: $color1
      fill: $color1
    svg
      fill: currentColor
      
.contact-block
  font-size: 0
  p
    margin-bottom: 17px
    font-size: 16px
  a
    display: inline-block
    vertical-align: middle
    line-height: 1
    &:not(:last-child)
      margin-right: 31px
    .no-touch &:hover .icon
      fill: $color1
    .icon
      +trs
  &__mail
    width: 41px
    height: 9px
    margin: -2px 0 0 -8px
    background-color: $color1
    +trs
    .no-touch &:hover
      background-color: $color2
  &_mob
    opacity: 0
    transform: translateY(-20px)
    margin: 2px 0 20px
    +xs
      display: none
    .is-fixed & p
      color: $color3
    p
      color: $white
  &_mob &__mail
    background: $white
    .is-fixed &
      background-color: $color1

.dev-link
  display: flex
  align-items: center
  color: $color4
  +f('rob-400')
  .no-touch &:hover .icon
    fill: $color1
  .icon
    margin-left: 11px
    +trs

.link-green
  +f('rob-700')
  color: $color1
  +trs
  .no-touch &:hover
    color: $color2

.gray-bg
  background: url("../img/gray-bg.jpg")

.black-bg
  background: url("../img/bg.png")
  
.has-selection
  &.is-selected b::after
    +xs
      width: calc(100% + 9px)
  &_green
    b::after
      background: $color1
    &.is-selected b::after
      width: calc(100% + 17px)
  &_black
    b
      color: $white
    b::after
      background: $black
    &.is-selected b::after
      width: calc(100% + 20px)
  b
    position: relative
    z-index: 1
    white-space: nowrap
    &::after
      position: absolute
      left: -10px
      top: 8px
      bottom: 1px
      right: 0
      width: 0
      content: ''
      z-index: -1
      transition: width 1.3s 1s ease
      +xs
        top: 6px
        left: -5px
        width: calc(100% + 9px)
        transition: none