.subscr
  padding: 130px 0 121px
  background: $color1
  &__top
  &__title
    margin: 0 0 58px
    max-width: 900px
    +h3
    text-transform: none
  &__form
    display: flex
    max-width: 628px
    &-field
      flex: 1 0 auto
      margin-right: 42px
    &-btn
      flex: 0 1 211px
      height: 57px
      line-height: 57px
  