@keyframes moving
  0%
    transform: translateY(0)
  50%
    transform: translateY(15px)
  100%
    transform: translateY(0)

@keyframes sliderSwing
  0%
    transform: rotate3d(0, 0, 1, -30deg)
    
  10%
    transform: rotate3d(0, 0, 1, 30deg)
  
  100%
    transform: rotate3d(0, 0, 1, -30deg)

@keyframes swingEl-1
  0%
    transform: rotate3d(0, 0, 1, 15deg)
  
  10%
    transform: rotate3d(0, 0, 1, -45deg)
  
  20%
    transform: rotate3d(0, 0, 1, 90deg)
  
  30%
    transform: rotate3d(0, 0, 1, -35deg)
  
  40%
    transform: rotate3d(0, 0, 1, 60deg)
  
  50%
    transform: rotate3d(0, 0, 1, -25deg)
  
  60%
    transform: rotate3d(0, 0, 1, 30deg)
  
  70%
    transform: rotate3d(0, 0, 1, -10deg)
  
  80%
    transform: rotate3d(0, 0, 1, 20deg)
  
  90%
    transform: rotate3d(0, 0, 1, 0deg)
  
  to
    transform: rotate3d(0, 0, 1, 15deg)
    
@keyframes swingEl-2
  0%
    transform: rotate3d(0, 0, 1, 0deg)
  
  10%
    transform: rotate3d(0, 0, 1, -45deg)
  
  20%
    transform: rotate3d(0, 0, 1, 90deg)
  
  30%
    transform: rotate3d(0, 0, 1, -35deg)
  
  40%
    transform: rotate3d(0, 0, 1, 60deg)
  
  50%
    transform: rotate3d(0, 0, 1, -25deg)
  
  60%
    transform: rotate3d(0, 0, 1, 30deg)
  
  70%
    transform: rotate3d(0, 0, 1, -10deg)
  
  80%
    transform: rotate3d(0, 0, 1, 20deg)
  
  90%
    transform: rotate3d(0, 0, 1, 0deg)
  
  to
    transform: rotate3d(0, 0, 1, 0deg)
    
@keyframes swingEl-3
  0%
    transform: rotate3d(0, 0, 1, -20deg)
  
  10%
    transform: rotate3d(0, 0, 1, 45deg)
  
  20%
    transform: rotate3d(0, 0, 1, -90deg)
  
  30%
    transform: rotate3d(0, 0, 1, 30deg)
  
  40%
    transform: rotate3d(0, 0, 1, -75deg)
  
  50%
    transform: rotate3d(0, 0, 1, 25deg)
  
  60%
    transform: rotate3d(0, 0, 1, -50deg)
  
  70%
    transform: rotate3d(0, 0, 1, 20deg)
  
  80%
    transform: rotate3d(0, 0, 1, -10deg)
  
  90%
    transform: rotate3d(0, 0, 1, 0deg)
  
  to
    transform: rotate3d(0, 0, 1, -20deg)
    
@keyframes swingEl-4
  0%
    transform: rotate3d(0, 0, 1, 31deg)
  
  10%
    transform: rotate3d(0, 0, 1, -45deg)
  
  20%
    transform: rotate3d(0, 0, 1, 90deg)
  
  30%
    transform: rotate3d(0, 0, 1, -35deg)
  
  40%
    transform: rotate3d(0, 0, 1, 60deg)
  
  50%
    transform: rotate3d(0, 0, 1, -25deg)
  
  60%
    transform: rotate3d(0, 0, 1, 30deg)
  
  70%
    transform: rotate3d(0, 0, 1, -10deg)
  
  80%
    transform: rotate3d(0, 0, 1, 20deg)
  
  90%
    transform: rotate3d(0, 0, 1, 0deg)
  
  to
    transform: rotate3d(0, 0, 1, 31deg)