.icon-aviation {
  width: 1.02em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-cocktail {
  width: 1.1em;
  height: 1em;
  fill: #001011;
  stroke: #fff;
}
.icon-double-circles {
  width: 1.4em;
  height: 1em;
  fill: #fff;
  stroke: #001011;
}
.icon-hex-square {
  width: 1.1em;
  height: 1em;
  fill: #fff;
  stroke: #fff;
}
.icon-square-circle {
  width: 1em;
  height: 1em;
  fill: #fff;
  stroke: #fff;
}
