.block-6
   padding: 102px 0 137px
   +md
      padding: 111px 0 140px
   +xs
      padding: 53px 0 60px
   &__top
      margin: 0 0 70px
      +md
         margin: 0 0 76px
      +xs
         margin: 0 0 33px
   &__title
      margin-bottom: 60px
      +md
         margin-bottom: 57px
      +xs
         margin-bottom: 19px
   &__sub-title
      letter-spacing: 0.027em
   &__label
      +md
         margin-bottom: 18px
         padding-left: 0
   &__offer
      position: relative
      display: flex
      align-items: flex-start
      padding: 57px 0 0 61px
      +md
         flex-wrap: wrap
         padding: 0
      &.is-visible::after
         width: 89.3%
         +md
            width: 100%
      &::after
         position: absolute
         top: 0
         left: 0
         width: 0
         bottom: 5%
         z-index: -1
         background: $color5
         content: ''
         transition: width 1s ease
         +md
            height: 99%
      &-text
         flex: 0 1 percentage(549/1099)
         margin-top: -6px
         padding-right: 60px
         +md
            flex: 1 1 auto
            order: 1
            padding: 53px 70px 0 57px
         +xs
            padding: 25px 10px 0
            margin-top: 0
         > p
            transform: translateX(-50px)
            opacity: 0
            +f('gil-300', 18)
            letter-spacing: 0
            +xs
               font-size: 14px
            b, strong
               +f('gil-800')
            &:not(:last-of-type)
               margin-bottom: 17px
               +xs
                  margin-bottom: 12px
            &:last-of-type
               margin-bottom: 31px
               +xs
                  margin-bottom: 15px
      &-title
         transform: translateX(-50px)
         opacity: 0
         margin-bottom: 25px
         +xs
            margin-bottom: 14px
      h4
         height: 42px
         +h4
         +xs
            height: 30px
            font-size: 24px
            line-height: 1.2
      &-sub-title
         transform: translateX(-50px)
         opacity: 0
         margin-bottom: 15px
         text-transform: none
         +xs
            margin-bottom: 19px
            font-size: 14px
            line-height: 22px
      &-pic
         flex: 1 1 auto
         transform: translateX(-100px)
         opacity: 0
      &-slider
         flex: 0 1 percentage(550/1099)
         max-width: 550px
         padding-bottom: 90px
         +md
            flex: 0 1 auto
            max-width: 708px
            padding-bottom: 20px
         +xs
            padding-bottom: 12px
      &-img
         +cover
         +ratio(549, 395)
         +md
            +ratio(709, 509)
         +xs
            +ratio(290, 215)
      
      &-descr
         transform: translateX(-50px)
         opacity: 0
         p
            &:not(:last-of-type)
               margin-bottom: 14px
            &:nth-of-type(1)
               max-height: 168px
               +md
                  height: auto
               +xs
                  margin-bottom: 12px
            &:nth-of-type(2)
               max-height: 84px
               +md
                  height: auto
      
      &-list
         padding-left: 2px
         +xs
            padding-left: 0
         li
            opacity: 0
            transform: translateX(-50px)
      &-btn
         transform: translateX(-50px)
         opacity: 0
         +md
            margin-bottom: -26px
      &-links
         display: flex
         justify-content: space-between
         transform: translateX(-50px)
         opacity: 0
         +md
            max-width: 500px
         +xs
            flex-direction: column
            align-items: flex-start
         .block-6__offer-btn
            opacity: 1
            transform: none
            +xs
               margin-bottom: 0
            &:not(:last-child)
               margin-bottom: 30px
            &:last-child
               margin-bottom: -30px
            
   &__price
      &_offer
         margin: 27px 0 32px
         transform: translateX(-50px)
         opacity: 0
         +md
            margin: 25px 0 32px
         +xs
            margin: 15px 0 20px
      &_item
         margin: 22px 0 32px
         +xs
            margin: 15px 0 19px
      h5
         +h5
         text-transform: none
         +xs
            font-size: 14px
         span
            +f('gil-300')
   &__list
      overflow: hidden
      margin: 80px -20px 0
      +clr
      +xs
         margin-top: 60px
      .slick-track
         +md
            padding-bottom: 20px
   &__list_more-items &__item
      padding: 0 20px 75px
   
   &__item
      position: relative
      float: left
      width: 33.333333%
      padding: 0 20px
      &-text
         padding: 33px 30px 0
         background: $color5
         +xs
            padding: 24px 14px 0 9px
         p
            height: 140px
            +xs
               height: 100px
      &-title
         margin-bottom: 15px
         +xs
            height: auto
            margin-bottom: 10px
         h4
            height: 84px
            +xs
               height: 29px
      &-img
         height: 275px
         +cover-img
         +xs
            height: 200px
      &-list
         margin-top: 20px
         min-height: 142px
         +xs
            min-height: 100px
      &-btn
         margin-bottom: -25px
         +xs
            margin-left: 1px
      &-mask
         position: absolute
         top: 0
         left: auto
         right: 0
         bottom: -20px
         z-index: 2
         background-color: #fff
         width: 100%
   &__slider
      padding-bottom: 50px
      +clr
      +md
         padding-bottom: 0
      +xs
         margin-top: -35px
      .slider__body
         float: left
         width: calc(100% - 206px)
         padding-right: 37px
         +md
            float: none
            width: auto
            padding-right: 0
      .slider__item
         height: 584px
         +cover-img
         +md
            height: 450px
         +xs
            height: 185px
      .slider__nav
         float: left
         width: 206px
         overflow: hidden
         height: 584px
         +md
            display: block
            max-width: 434px
            margin-top: -30px
            float: none
            height: auto
            width: auto
         +xs
            display: none
         .slick-track
            +md
               margin: 0 -10px
         &-item
            height: 132px
            width: 206px
            margin: 0
            +md
               margin: 0 10px
               height: 80px
            &:not(:last-child)
               margin-bottom: 19px
         .slick-list
            margin: 0
      .slider__controls
         left: auto
         right: 243px
         bottom: 0
         +md
            justify-content: flex-end
         +xs
            justify-content: flex-start
            
   &_location
      padding: 110px 0 43px
   &_location &__top
      margin: 0 0 67px
   &_location &__title
      margin-bottom: 0
   &_location &__list_more-items &__item
      padding: 0 20px 95px
   &_location &__list
      margin: 0 -20px
   &_location &__item p
      height: 85px
   &_location-has-slider
      padding: 102px 0 114px
      +md
         padding: 111px 0 102px
      +xs
         padding: 53px 0 55px
   &_location-has-slider &__top
      margin: 0 0 25px
   &_location-has-slider &__list
      +xs
         margin-top: 27px
   &_location-has-slider &__title
      +xs
         margin: 0
      
      
   &_location-has-slider &__item-text p
      +md
         height: 85px
         
   &_has-slider
      padding: 113px 0 62px
      +md
         padding: 111px 0 42px
      .hanging-decor_lamps
         top: -114px
   &_has-slider &__offer-title
      +xs
         margin-bottom: 11px
   &_has-slider &__offer-text
      +md
         padding: 10px 70px 0 57px
      +xs
         padding: 10px 10px 0 15px
      +xs
         padding: 10px
   &_has-slider &__offer::after
      bottom: 3.5%
      +xs
         height: 98.4%
   &_has-slider &__price_offer
      margin: 35px 0 55px
      +md
         margin: 27px 0 33px
      +xs
         margin: 7px 0 30px
   
   &_has-slider &__list
      +md
         margin: 100px -20px 0
      +xs
         margin: 50px -10px 0
         
   &_event
      padding: 29px 0 122px
      +md
         padding: 31px 0 147px
      +xs
         padding: 23px 0 90px
      .social-share
         +xs
            display: none
   &_event &__top
      margin: 0 0 80px
      +xs
         margin: 0 0 43px
   &_event &__title
      +md
         margin: 68px 2px 30px
      +xs
         margin: 48px 15px 14px 0
   
   &_event &__offer::after
      +md
         height: 100%
   &_event &__offer-title
      margin-bottom: 30px
      +xs
         margin-bottom: 21px
   &_event &__offer-descr
      margin-bottom: 29px
      +xs
         margin-bottom: 19px
   &_event &__offer-text
      +md
         padding: 32px 60px 0 61px
      +xs
         padding: 10px 14px 0 11px
   &_event &__offer-slider
      margin-top: 74px
      +md
         margin-top: 0
      +xs
         width: 100%
   &_event &__price_offer
      +md
         margin: 25px 0 37px
      +xs
         margin: 25px 0 21px
   &_event &__price h5
      letter-spacing: 0
   &_event &__offer-btn.btn_green
      min-width: 260px
   &_event &__offer-btn.btn_black
      min-width: 180px
   &_event &__offer::after
      bottom: 3%
      
   