.team
  padding: 120px 0 60px
  background: $color1
  &__inner
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    margin: 0 -30px
  &__member
    flex: 0 0 25%
    max-width: 305px
    padding: 0 30px 60px
    &-pic
      margin-bottom: 20px
    &-name
      margin-bottom: 10px
    &-pos
      text-transform: none
      margin-bottom: 25px