if block9 ? block9 : block9 = []
if block9.title ? block9.title : block9.title = 'Хочешь увидеть всё своими глазами? Приходи в гости!'

//begin block-9
+b.SECTION.block-9.gray-bg(class= block9.classMod ? block9.classMod : '')
	+e.container.container
		+e.top.block-top.block-top_md
			+e.label.block-label
				+e.P reviews
			+e.title.block-title.has-selection._green
				+e.H2
					b Отзывы
					= ' '
					| о workit

		+b.slider._full.block-9__slider
			+e.body(data-anim='slider')
				+e.item
					+e.text
						+e.H4 Макс Фрай
						+e.H5 CEO Koin
						+e.P Кастомизация офисного пространства. Мы создадим офис специально для вашей команды. Подберем и закупим необходимую мебель, перекрасим стены, организуем ваш переезд, создадим брендированную канцелярию и распечатаем лого на 3D принтере. Кроме того, можно расширить пространство по мере роста вашей команды.
					+e.media
						+e.BUTTON.media-play-btn.play-btn(type='button')
							+e.SVG(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='65', height='67', viewbox='0 0 65 67')
								defs
									path#7621a(d='M194.5 2778a31.5 31.5 0 1 1 0 63 31.5 31.5 0 0 1 0-63zm-5.6 21.7v19.35l16.76-9.68z')
								g
									g(transform='translate(-162 -2776)')
										use(fill='#fff', xlink:href='#7621a')
						+e.VIDEO(playsinline controls='true' loop preload='yes' width="100%" height="100%" data-mobile-play)
							+e.SOURCE(src='static/video/video-sample.mp4' type='video/mp4' poster='static/img/poster.png')
							+e.SOURCE(src='static/video/sample-webm.webm' type='video/webm' poster='static/img/poster.png')

				+e.item
					+e.text
						+e.H4 Макс Фрай
						+e.H5 CEO Koin
						+e.P Кастомизация офисного пространства. Мы создадим офис специально для вашей команды. Подберем и закупим необходимую мебель, перекрасим стены, организуем ваш переезд, создадим брендированную канцелярию и распечатаем лого на 3D принтере. Кроме того, можно расширить пространство по мере роста вашей команды.
					+e.media
						+e.media-img(style='background-image: url(static/img/block-9_1.jpg)')

				+e.item
					+e.text
						+e.H4 Макс Фрай
						+e.H5 CEO Koin
						+e.P Кастомизация офисного пространства. Мы создадим офис специально для вашей команды. Подберем и закупим необходимую мебель, перекрасим стены, организуем ваш переезд, создадим брендированную канцелярию и распечатаем лого на 3D принтере. Кроме того, можно расширить пространство по мере роста вашей команды.
					+e.media
						+e.media-img(style='background-image: url(static/img/block-9_1.jpg)')

			+e.controls
				+e.buttons
				+e.count
					+e.SPAN.count-current
					+e.count-decor
					+e.SPAN.count-all

//end block-9