if block6 ? block6 : block6 = []

//begin block-6
+b.SECTION.block-6(class= block6.classMod ? block6.classMod : '')
	+e.container.container
		+e.top.block-top
			+e.label.block-label
				+e.P prices
			+e.title.block-title.has-selection._green
				+e.H2
					b Тарифы
					= ' '
					| для early birds
			+e.sub-title.block-sub-title
				+e.H5 Нужен рабочий стол, небольшой офис или целая штаб-квартира?
					b Организация рабочего пространства
					= ' '
					| — это зона нашей ответственности. Мы
					b точно найдем
					= ' '
					| что вам предложить.

		+e.offer
			+e.offer-text
				+e.H4 Офис мечты
				+e.P Кастомизация офисного пространства. Мы создадим офис специально для вашей команды. Подберем и закупим необходимую мебель, перекрасим стены, организуем ваш переезд, создадим брендированную канцелярию и распечатаем лого на 3D принтере. Кроме того, можно расширить пространство по мере роста вашей команды.
				+e.P Идеально подойдет для небольших компаний. Если вы хотите иметь крутой, стильный офис, просто приходи к нам. А мы поможем организовать ваш переезд.
				+e.price._offer
					+e.H5 Стоимость от:
						span 200$
				+e.BUTTON.offer-btn.btn._green(type='button' data-popup-target='enrollPopup')
					span.btn__text забронировать

			+e.offer-pic.img-hover
				+e.offer-img.img-hover__item(style='background-image: url(static/img/block-6_offer.jpg)')

		+e.list.mobile-slider
			-
				block6List = [{
					title: 'Место в лаунж зоне',
					img: 1,
					descr: 'Свободное место в зоне общего пользования. Идеально подойдет для тех, кто любит работать не за столом, а в более расслабленной обстановке.'
				}, {
					title: 'Hot desk',
					img: 2,
					descr: 'Свободное рабочее место в open space. Идеально подойдет для тех, кто не любит сидеть на одном месте. Работать и при желании общаться с окружающими.'
				}, {
					title: 'Desk priority',
					img: 3,
					descr: 'Персональное рабочее место в open space. Для тех, кто любит создавать свое рабочее место. Кто ценит свое личное пространство и совбоду в его организации.'
				}]
			mixin block6Item(item)
				+e.item
					+e.item-mask
					+e.item-img.img-hover
						+e.IMG(src=`static/img/block-6_${item.img}.jpg` alt='image')
					+e.item-text
						+e.item-title.h4
							+e.H4= item.title
						+e.P= item.descr
						+e.price._item
							+e.H5 Стоимость от:
								span 200$
						+e.BUTTON.item-btn.btn._green(type='button' data-popup-target='enrollPopup')
							span.btn__text забронировать
			each item in block6List
				+block6Item(item)

		+e.SVG.lamps(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 188.65 330.56' width='189' height='331')
			g(class='block-6__lamps-wire' transform="matrix(1,0,0,1,0,-254)")
				path(fill='#c4d0ce', d='M10.33,0h1V265.56h-1Z')
				path(fill='#001011', d='M9.39,253.66h2.88v5H9.39Z')
				path(fill='#00d88e', d='M21.53,266.75a11.07,11.07,0,0,0-21.53,0Z')

			g(class='block-6__lamps-wire' transform="matrix(1,0,0,1,0,-206)")
				path(fill='#c4d0ce', d='M177.48,0h1V217.28h-1Z')
				path(fill='#001011', d='M176.55,205.78h2.88v5h-2.87Z')
				path(fill='#00d88e', d='M188.65,218.87a11.07,11.07,0,0,0-21.53,0Z')

			g(class='block-6__lamps-wire' transform="matrix(1,0,0,1,0,-317)")
				path(fill='#c4d0ce', d='M82,0h1V325H82Z')
				path(fill='#001011', d='M81,317.5h2.84v5H81Z')
				path(fill='#00d88e', d='M93.15,330.56a11.06,11.06,0,0,0-21.52,0Z')

//end block-6