if block3 ? block3 : block3 = []

//begin block-3
+b.SECTION.block-3(class= block3.classMod ? block3.classMod : '')
	+e.container.container
		+e.top.block-top
			+e.label.block-label
				+e.P who we are
			+e.title.block-title.has-selection._green
				+e.H2 В
					b workit
					= ' '
					| есть все для продуктивной работы

		+e.item._left
			+e.ARTICLE.item-inner
				+e.item-media.img-hover
					+e.item-img.img-hover__item(style='background-image: url(static/img/block-3_1.jpg)')
					//+e.VIDEO.item-video(autoplay loop muted)
					//	source(src=static/video/block-3_sample.mp4" type='video/mp4')

				+e.item-text
					+e.H3 фонд workit
					+e.P Расти и развивайся вместе с нами. Посещай вдохновляющие
						b лекции, тренинги, семинары,
						= ' '
						| знакомься с лучшими и находи
						b новых друзей.
						= ' '
						| Записывайся на курсы английского языка. Читай книги и журналы в
						b библиотеке
						= ' '
						| Work IT.

			+e.item-count
				+e.item-count-el._1

		+e.item._right
			+e.ARTICLE.item-inner
				+e.item-text
					+e.H3 поддержка бизнеса
					+e.P
						b Размер рабочего пространства
						= ' '
						| имеет значение. Поэтому мы позаботились о том, чтобы каждое рабочее место занимало как
						b минимум 7 кв м.
						= ' '
						| Поставили большие столы и удобные стулья, спроектировали высокие потолки. Уделили особое внимание освещению и
						b “умному” зонированию
						= ' '
						| пространства.

				+e.item-media.img-hover
					+e.item-img.img-hover__item(style='background-image: url(static/img/block-3_2.jpg)')

			+e.item-count
				+e.item-count-el._2

		+e.item._left
			+e.ARTICLE.item-inner
				+e.item-media.img-hover
					+e.item-img.img-hover__item(style='background-image: url(static/img/block-3_3.jpg)')
					//+e.VIDEO.item-video(autoplay loop muted)
					//	source(src='static/video/block-3_sample.mp4" type='video/mp4')

				+e.item-text
					+e.H3 комьюнити
					+e.P У нас есть running club,
						b комната для йоги
						= ' '
						| и медитации,
						b массажист,
						= ' '
						| душевые кабинки. ЕстьSAD лампы, стимулирующие выработку витамина D.  На кухне орудует
						b бариста
						= ' '
						| и всегда ждут полезные снеки. Есть PlayStation, мастерская, кинотеатр, библиотека, велосипеды и сегвеи,
						b комнаты для сна
						= ' '
						| и ночевки, BBQ терраса. А еще мы любим животных и рады им.

			+e.item-count
				+e.item-count-el._3

		+e.item._right
			+e.ARTICLE.item-inner
				+e.item-text
					+e.H3 пространство
					+e.P
						b Размер рабочего пространства
						= ' '
						| имеет значение. Поэтому мы позаботились о том, чтобы каждое рабочее место занимало как
						b минимум 7 кв м.
						= ' '
						| Поставили большие столы и удобные стулья, спроектировали высокие потолки. Уделили особое внимание освещению и
						b “умному” зонированию
						= ' '
						| пространства.

				+e.item-media.img-hover
					+e.item-img.img-hover__item(style='background-image: url(static/img/block-3_4.jpg)')

			+e.item-count
				+e.item-count-el._4


		+e.lines
			+e.line._left
			+e.line._right
//end block-3