if block10 ? block10 : block10 = []
if block10.title ? block10.title : block10.title = ''

//begin block-10
+b.SECTION.block-10(class= block10.classMod ? block10.classMod : '')
	.container.container_md
		+e.top.block-top
			+e.label.block-label
				+e.P our residents

			+e.title.block-title.has-selection._green
				+e.H2 Наши
					b резиденты

		+e.list.mobile-slider._white-large
			-
				block10List = [{
				img: 'ingenico',
				descr: 'Стартап "Бери и делай" в сфере криптовалют, команда из 14 человек'
				}, {
				img: 'circle-media',
				descr: 'Компания "Валютники" в сфере финтех. Команда из 9 человек'
				}, {
				img: 'bmc',
				descr: 'Стартап "Бери и делай" в сфере криптовалют, команда из 14 человек'
				}, {
				img: 'bike-roar',
				descr: 'Компания "Валютники" в сфере финтех. Команда из 9 человек'
				}]

			mixin block10Item(item)
				+e.item
					+e.item-icon
						+e.A(href='#!' target='_blank')
							+e.IMG(src=`static/img/${item.img}.png` alt='image')
					+e.item-title.h5
						+e.H5= item.title
					p= item.descr
			each item in block10List
				+block10Item(item)

	+e.decor-line

	.container
		+b.item-test
			//+e.BUTTON.media-play-btn.play-btn(type='button')
			//	+e.SVG(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='65', height='67', viewbox='0 0 65 67')
			//		defs
			//			path#7621a(d='M194.5 2778a31.5 31.5 0 1 1 0 63 31.5 31.5 0 0 1 0-63zm-5.6 21.7v19.35l16.76-9.68z')
			//		g
			//			g(transform='translate(-162 -2776)')
			//				use(xlink:href='#7621a')

			+e.VIDEO(playsinline loop preload='auto' width="100%" height="100%" controls='true')
				+e.SOURCE(src='static/video/video-sample.mp4' type='video/mp4' poster='static/img/poster.png')
				+e.SOURCE(src='static/video/sample-webm.webm' type='video/webm' poster='static/img/poster.png')

//end block-10