if block7 ? block7 : block7 = []
if block7.title ? block7.title : block7.title = 'Хочешь увидеть всё своими глазами? Приходи в гости!'

//begin block-7
+b.SECTION.block-7(class= block7.classMod ? block7.classMod : '')
	+e.container.container
		+e.top.block-top
			+e.title.block-title.h3
				+e.H3= block7.title

			+e.BUTTON.btn.btn._green(data-popup-target='comePopup' type='button')
				span записаться

	svg.img-blur.img-blur-sm.block-7__img(version='1.1', xmlns='http://www.w3.org/2000/svg' preserveAspectRatio="none")
		defs
			clipPath#img-blur-mask-1
				path(fill='#00d88e' d='M154.37,130.46c-1.44,5.76-2.3,11.81-3.17,17.57-1.15-5.76-2-11.52-4-17L127,72H88.41L68.83,131.33c-2.59,7.49-2.88,11.23-3.74,16.42-.86-5.76-1.15-10.37-2.88-16.42L46.37,72H0L41.47,201.6H78.62l23-59.33a62.5,62.5,0,0,0,4-15.26c1.15,4.9,1.73,10.08,3.74,14.69l23,59.9h39.46L212,72H168.48Z')
				path(fill='#00d88e' d='M289.93,68.54c-44.35,0-72,29.38-72,68.25s27.65,68.25,72,68.25,72-29.37,72-68.25S334.28,68.54,289.93,68.54Zm0,96.19c-14.69,0-25.92-11.52-25.92-27.94,0-17.57,12.1-27.94,25.92-27.94,14.4,0,25.92,11.23,25.92,27.94C315.84,154.37,304.61,164.73,289.93,164.73Z')
				path(fill='#00d88e' d='M429.09,82.37V72h-43.2V201.6h43.2V119.23C432,114,436.29,110,444.93,110c6,0,9.5,1.15,15.84,4.9L476,74.59c-4.32-3.17-9.5-4.9-20.16-4.9C441.18,69.69,434.27,74.88,429.09,82.37Z')
				polygon(fill='#00d88e' points='583.05 130.46 625.1 72 570.95 72 535.53 128.16 535.53 0 492.33 0 492.33 201.6 535.53 201.6 535.53 139.68 575.85 201.6 631.15 201.6 583.05 130.46')
			filter#img-blur-1
				fegaussianblur(in='SourceGraphic', stddeviation='4')

		image(xlink:href='static/img/block-7_1.jpg', x='0', y='0' filter='url(#img-blur-1)' preserveAspectRatio='xMidYMid slice')
		image(xlink:href='static/img/block-7_1.jpg', x='0', y='0' clip-path='url(#img-blur-mask-1)' preserveAspectRatio='xMidYMid slice')

		//svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 807.02 205.05')
		//	path(fill='#00d88e' d='M154.37,130.46c-1.44,5.76-2.3,11.81-3.17,17.57-1.15-5.76-2-11.52-4-17L127,72H88.41L68.83,131.33c-2.59,7.49-2.88,11.23-3.74,16.42-.86-5.76-1.15-10.37-2.88-16.42L46.37,72H0L41.47,201.6H78.62l23-59.33a62.5,62.5,0,0,0,4-15.26c1.15,4.9,1.73,10.08,3.74,14.69l23,59.9h39.46L212,72H168.48Z')
		//	path(fill='#00d88e' d='M289.93,68.54c-44.35,0-72,29.38-72,68.25s27.65,68.25,72,68.25,72-29.37,72-68.25S334.28,68.54,289.93,68.54Zm0,96.19c-14.69,0-25.92-11.52-25.92-27.94,0-17.57,12.1-27.94,25.92-27.94,14.4,0,25.92,11.23,25.92,27.94C315.84,154.37,304.61,164.73,289.93,164.73Z')
		//	path(fill='#00d88e' d='M429.09,82.37V72h-43.2V201.6h43.2V119.23C432,114,436.29,110,444.93,110c6,0,9.5,1.15,15.84,4.9L476,74.59c-4.32-3.17-9.5-4.9-20.16-4.9C441.18,69.69,434.27,74.88,429.09,82.37Z')
		//	polygon(fill='#00d88e' points='583.05 130.46 625.1 72 570.95 72 535.53 128.16 535.53 0 492.33 0 492.33 201.6 535.53 201.6 535.53 139.68 575.85 201.6 631.15 201.6 583.05 130.46')
//end block-7