if come ? come : come = []
if come.title ? come.title : come.title = 'Хочешь увидеть всё своими глазами? Приходи в гости!'

//begin come
+b.SECTION.come(class= come.classMod ? come.classMod : '' data-no-anim='true')
  +e.inner
    +b.container._md(data-anim='group')
      +e.H3= come.title

      +e.BUTTON.btn.btn._green(data-popup-target='comePopup' type='button')
        span.btn__text записаться

  +b.mask.js-come-mask(data-img-src='static/img/come_bg.jpg' data-video-src='')
    //+e.SVG.el

//end come