if locations ? locations : locations = []

//begin locations
+b.SECTION.locations(class= locations.classMod ? locations.classMod : '')
  +e.container.container
    +e.top.block-top
      +e.label.block-label
        +e.P locations

      +e.title.block-title.has-selection._green
        +e.H2 Мы
          b находимся
          = ' '
          | здесь

    +e.inner(data-anim='group')
      +e.map
        +e.IMG(src='static/img/map.png' alt='image')
      +e.text
        +e.H6 центр
        +e.P ул. Владимирская 85
        +b.P.tel-block тел:
          +e.A(href='tel:0975678900') 097 567 89 00
            svg.icon.icon-tel(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 301.001 301.001', style='enable-background:new 0 0 301.001 301.001;', xml:space='preserve')
              g
                path(style='fill:#010002;', d='M182.784,151.696c-7.794,9.143-14.811,15.833-14.745,15.773c0.065-0.054-6.086,7.435-14.637,15.877\
                          c-6.875,6.783-14.517,13.478-22.985,19.836c-9.605,7.218-24.623,8.153-32.776,3.176c-8.159-4.971-23.845-15.055-35.582-12.483\
                          c-9.861,2.159-22.953,9.393-38.704,27.984c-37.138,43.85-3.867,57.54,19.189,75.222c23.078,17.672,99.209-26.102,168.932-97.419\
                          c69.729-71.312,95.989-145.087,76.685-166.805c-19.309-21.718-35.403-53.901-76.43-13.679\
                          c-17.394,17.057-23.654,30.644-25.09,40.635c-1.713,11.895,9.48,26.809,15.034,34.582c5.553,7.778,5.711,22.822-0.789,32.928\
                          C195.163,136.238,189.05,144.348,182.784,151.696z')

        +e.socials
          +e.P Связаться с нами:
          +e.A(href='#!')
            svg.icon.icon-messenger(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 512 512', style='enable-background:new 0 0 512 512;', xml:space='preserve')
              g
                g
                  path(d='M256,0C114.624,0,0,106.112,0,237.024c0,74.592,37.216,141.12,95.392,184.576V512l87.168-47.84\
                  c23.264,6.432,47.904,9.92,73.44,9.92c141.376,0,256-106.112,256-237.024S397.376,0,256,0z M281.44,319.2l-65.184-69.536\
                  L89.056,319.2l139.936-148.544l66.784,69.536l125.6-69.536L281.44,319.2z')

          +e.A(href='#!')
            svg.icon.icon-telegram(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 300 300', style='enable-background:new 0 0 300 300;', xml:space='preserve')
              g
                path(d='M5.299,144.645l69.126,25.8l26.756,86.047c1.712,5.511,8.451,7.548,12.924,3.891l38.532-31.412\
                            c4.039-3.291,9.792-3.455,14.013-0.391l69.498,50.457c4.785,3.478,11.564,0.856,12.764-4.926L299.823,29.22\
                            c1.31-6.316-4.896-11.585-10.91-9.259L5.218,129.402C-1.783,132.102-1.722,142.014,5.299,144.645z M96.869,156.711l135.098-83.207\
                            c2.428-1.491,4.926,1.792,2.841,3.726L123.313,180.87c-3.919,3.648-6.447,8.53-7.163,13.829l-3.798,28.146\
                            c-0.503,3.758-5.782,4.131-6.819,0.494l-14.607-51.325C89.253,166.16,91.691,159.907,96.869,156.711z')

          +e.A.socials-mail(href='mailto:info@workit.space')
//end locations