if pagination ? pagination : pagination = []

//begin pagination
+b.pagination(class= paginationClass ? paginationClass : '' data-anim='fade-left')
	+b.UL(data-items-anim='fade-left' data-anim-duration='0.3' data-stagger-duration='0.15')
		li.prev.hidden: a(href='!#') prev page
		li.active: a(href='!#') 1
		li: a(href='!#') 2
		li: a(href='!#') 3
		li: a(href='!#') ...
		li: a(href='!#') 15
		li.next: a(href='!#') next page
//end pagination