mixin popup(el)
	case el.name

		when 'comePopup'
			+b.popup(data-popup-id='comePopup' tabindex='-1', role='dialog')
				+e.container
					+e.BUTTON.close.js-popup-close(type='button')
						svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='25', height='25', viewbox='0 0 25 25')
							defs
								path#bpq2a(d='M1220.63 158l-1.38-1.4 10.38-10.5 1.38 1.4z')
								path#bpq2b(d='M1230.72 147.49l-1.37 1.39-10.35-10.5 1.37-1.4z')
								path#bpq2c(d='M1238.37 137l1.38 1.4-10.38 10.5-1.38-1.4z')
								path#bpq2d(d='M1228.28 147.51l1.37-1.4 10.35 10.5-1.37 1.4z')
							g
								g(transform='translate(-1217 -135)')
									g
										use(xlink:href='#bpq2a')
									g
										use(xlink:href='#bpq2b')
									g
										use(xlink:href='#bpq2c')
									g
										use(xlink:href='#bpq2d')
					+e.title
						+e.H2 Оставьте ваши контакты, и мы обязательно перезвоним!

					form.form(action='#!')
						.form-group._popup
							.form-group
								.form-group
									input.form-control(type='email' name='' autocomplete='off' data-validation='email required')
									label.control-label
										span Имя*
									.help-block Введите ваш Email

								.form-group
									input.form-control(type='email' name='' autocomplete='off' data-validation='email required')
									label.control-label
										span Номер мобильного*
									.help-block Введите ваш Email

								.form-group
									input.form-control(type='email' name='' autocomplete='off' data-validation='email required')
									label.control-label
										span Email*
									.help-block Введите ваш Email

						+e.LABEL.form-btn.btn._black
							+b.INPUT.btn(type='submit' value='отправить запрос')

		when 'enrollPopup'
			+b.popup(data-popup-id='enrollPopup' tabindex='-1', role='dialog')
				+e.container
					+e.BUTTON.close.js-popup-close(type='button')
						svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='25', height='25', viewbox='0 0 25 25')
							defs
								path#bpq2a(d='M1220.63 158l-1.38-1.4 10.38-10.5 1.38 1.4z')
								path#bpq2b(d='M1230.72 147.49l-1.37 1.39-10.35-10.5 1.37-1.4z')
								path#bpq2c(d='M1238.37 137l1.38 1.4-10.38 10.5-1.38-1.4z')
								path#bpq2d(d='M1228.28 147.51l1.37-1.4 10.35 10.5-1.37 1.4z')
							g
								g(transform='translate(-1217 -135)')
									g
										use(xlink:href='#bpq2a')
									g
										use(xlink:href='#bpq2b')
									g
										use(xlink:href='#bpq2c')
									g
										use(xlink:href='#bpq2d')

					+e.title._md.has-selection._black.is-selected
						+e.H2 Для бронирования
							b "Офис мечты"
							= ' '
							| оставьте свои контакты и мы обязательно перезвоним!

					+e.FORM.form(action='#!' method='POST')
						+e.form-col
							+e.form-field.form-field
								+b.INPUT.form-field__input(type='email' placeholder='Имя*' name='' autocomplete='off' required)
								+b.LABEL.form-field__decor._black

							+e.form-field.form-field
								+b.INPUT.form-field__input(type='email' placeholder='Номер мобильного*' name='' autocomplete='off' required)
								+b.LABEL.form-field__decor._black

							+e.form-field.form-field
								+b.INPUT.form-field__input(type='email' placeholder='Email*' name='' autocomplete='off' required)
								+b.LABEL.form-field__decor._black

						+e.form-col
							+e.form-field.form-field
								+b.TEXTAREA.form-field__input._textarea.textarea(placeholder='Комментарий' name='' autocomplete='off')
								+b.LABEL.form-field__decor._black

						+e.LABEL.form-btn.btn._black
							+b.INPUT.btn(type='submit' value='отправить запрос')