if screen ? screen : screen = []
if screen.title ? screen.title : screen.title = 'Намного больше, чем пространство'
if screen.subTitle ? screen.subTitle : screen.subTitle = 'Место, где рождаются идеи'

//begin screen
+b.SECTION.screen(class= screen.classMod ? screen.classMod : '')
  +e.inner
    +e.container.container._md
      +e.title
        +e.H1= screen.title
      +e.sub-title
        +e.H5= screen.subTitle
      +e.BUTTON.btn.btn._green(data-popup-target='comePopup' type='button')
        span.btn__text хочу в гости

  svg.mask(version='1.1', xmlns='http://www.w3.org/2000/svg' preserveAspectRatio="none")
    defs
      clipPath#mask-clip
        polygon.mask__el(points='846.94 470.89 725.63 0 494.05 0 372.74 470.89 236 0 0 0 239.32 681 506.37 681 609.84 277.9 713.32 681 980.36 681 1219.68 0 983.69 0 846.94 470.89')
      filter#mask-blur
        fegaussianblur(in='SourceGraphic', stddeviation='10')

    image(xlink:href='static/img/screen_bg.jpg', x='0', y='0' filter='url(#mask-blur)' preserveAspectRatio='xMidYMid slice' width='1920' height='1080')
    image(xlink:href='static/img/screen_bg.jpg', x='0', y='0' clip-path='url(#mask-clip)' preserveAspectRatio='xMidYMid slice' width='1920' height='1080')

  +e.more
    +e.SPAN.more-text.h6 узнать больше
    +e.SVG.more-icon(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 93.06 42.5')
      polygon(points='91.92 20.12 72.08 0 69.31 2.82 85.5 19.24 0 19.24 0 23.29 85.49 23.29 69.27 39.68 72.06 42.5 93.06 21.27 91.92 20.12')


//end screen