if screen ? screen : screen = []
if screen.title ? screen.title : screen.title = 'Намного больше, чем пространство'
if screen.subTitle ? screen.subTitle : screen.subTitle = 'Место, где рождаются идеи'

//begin screen
+b.SECTION.screen(class= screen.classMod ? screen.classMod : '')
  +e.container.container
    +e.H1= screen.title

    +e.H5= screen.subTitle

    +e.BUTTON.btn.btn._green(type='button')
      span хочу в гости

  //svg.img-blur(version='1.1', xmlns='http://www.w3.org/2000/svg')
  //  filter#img-blur
  //    fegaussianblur(in='SourceGraphic', stddeviation='3')
  //  image(xlink:href='/static/img/blured.jpeg', x='0', y='0' filter='url(#img-blur)')

  +e.img(style='background-image: url(static/img/screen.jpg)')
  //+e.VIDEO

  +e.more
    +e.SPAN.more-text.h6 узнать больше
    +e.SVG.more-icon(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 93.06 42.5')
      polygon(points='91.92 20.12 72.08 0 69.31 2.82 85.5 19.24 0 19.24 0 23.29 85.49 23.29 69.27 39.68 72.06 42.5 93.06 21.27 91.92 20.12')

//end screen