extends ../extend/default

block variables
  - var title = 'Event page';

block main
  main.content(data-page='event')

    //begin block-6
    +b.SECTION.block-6
      .container.container_md
        +e.top.block-top
          +e.label.block-label
            +e.P prices
          +e.title.block-title.has-selection._green
            +e.H2
              b Тарифы
              = ' '
              | для early birds
          +e.sub-title.block-sub-title
            +e.H5 Мы разработали
              b 4 уникальных тарифных плана.
              = ' '
              | Вы фрилансер, стартам или большая компания, у нас вы точно найдете подходящий вариант

        +e.offer
          +e.offer-text
            +e.offer-title
              +e.H4 Офис мечты
            +e.offer-sub-title.h5
              +e.H5 Cоздавай пространство для своей команды сам
            +e.offer-list.bullet-list
              ul
                li Не нужно тратить деньги на ремонт. Мы сами воплотим любую вашу идею и задумку
                li Не беспокойтесь о комунальных платежах , обслуживание офиса, уборку и всех мелочек, которые отнимают ваше время
                li Если ваша команду увеличилась или уменьшилась, мы без проблем подстроим ваше офисное пространство под изменения
                li Организуем ваш переезд
                li Первый месяц бесплатно, при аренде от 6ти месяцев
                li Идеально подойдет для небольших компаний. Если вы хотите иметь крутой, стильный офис, приходи к нам.

            +e.price._offer
              +e.H5 Стоимость от:
                span 200$
            +e.BUTTON.offer-btn.btn._green(type='button' data-popup-target='enrollPopup')
              span.btn__text забронировать

          +b.slider._has-nav.block-6__offer-slider
            +e.body(data-anim='slider')
              +e.item
                +e.IMG(src='static/img/block-6_offer.jpg' alt='image')
              +e.item
                +e.IMG(src='static/img/block-3_4.jpg' alt='image')
              +e.item
                +e.IMG(src='static/img/block-3_7.jpg' alt='image')
              +e.item
                +e.IMG(src='static/img/block-6_offer.jpg' alt='image')
            +e.controls
              +e.buttons
              +e.count
                +e.SPAN.count-current
                +e.count-decor
                +e.SPAN.count-all

            +e.nav
              +e.nav-item
                +e.IMG(src='static/img/block-6_1-sm.jpg' alt='image')
              +e.nav-item
                +e.IMG(src='static/img/block-6_2-sm.jpg' alt='image')
              +e.nav-item
                +e.IMG(src='static/img/block-6_3-sm.jpg' alt='image')
              +e.nav-item
                +e.IMG(src='static/img/block-6_1-sm.jpg' alt='image')

          //+e.offer-pic.img-hover
            +e.offer-img.img-hover__item(style='background-image: url(static/img/block-6_offer.jpg)')

        +e.list._more-items.mobile-slider._white
          -
            block6List = [{
            title: 'Место в лаунж зоне',
            img: 1,
            descr: 'Свободное место в зоне общего пользования. Идеально подойдет для тех, кто любит работать не за столом, а в более расслабленной обстановке.'
            }, {
            title: 'Hot desk',
            img: 2,
            descr: 'Свободное рабочее место в open space. Идеально подойдет для тех, кто не любит сидеть на одном месте. Работать и при желании общаться с окружающими.'
            }, {
            title: 'Desk priority',
            img: 3,
            descr: 'Персональное рабочее место в open space. Для тех, кто любит создавать свое рабочее место. Кто ценит свое личное пространство и свободу в его организации.'
            }, {
            title: 'Место в лаунж зоне',
            img: 4,
            descr: 'Свободное место в зоне общего пользования. Идеально подойдет для тех, кто любит работать не за столом, а в более расслабленной обстановке.'
            }, {
            title: 'Desk priority',
            img: 5,
            descr: 'Свободное рабочее место в open space. Идеально подойдет для тех, кто не любит сидеть на одном месте. Работать и при желании общаться с окружающими.'
            }]
          mixin block6Item(item)
            +e.item
              +e.item-mask
              +e.item-img.img-hover
                +e.IMG(src=`static/img/block-6_${item.img}.jpg` alt='image')
              +e.item-text
                +e.item-title.h4
                  +e.H4= item.title
                +e.P= item.descr
                +e.item-list.bullet-list
                  -
                    block6ItemList = [
                    'Организуем ваш переезд',
                    'Первый месяц бесплатно, при аренде от 6ти месяцев',
                    'Организуем ваш переезд'
                    ]

                  +e.UL
                    for block6ItemText in block6ItemList
                      li= block6ItemText
                +e.price._item
                  +e.H5 Стоимость от:
                    span 200$
                +e.BUTTON.item-btn.btn._green(type='button' data-popup-target='enrollPopup')
                  span.btn__text забронировать
          each item in block6List
            +block6Item(item)
        //end block-6