extends ../extend/default

block variables
  - var title = 'Events page';
  - var header  = { classMod: '_white' }

block main
  main.content(data-page='events')

    //begin events
    +b.SECTION.events
      .container.container_md
        +e.top.block-top
          +e.label.block-label
            +e.P events

          +e.title.block-title._has-dropdown.has-selection._black
            +e.H2 Ближайшие
              b мероприятия

            -dropdownClass = '_themes'
            include ../components/dropdown

        +e.expand-list.expand-list.js-expand-list
          .expand-list__inner
            -
              eventsList = [{
              classMod: '_full expand-list__item',
              picLink: true,
              pic: 'events_full',
              title: 'How To: Make a Good Presentation For Investors'
              }, {
              classMod: 'expand-list__item',
              pic: 'events_1',
              title: 'How To: Make a Good Presentation For Investors'
              }, {
              classMod: 'expand-list__item',
              pic: 'events_2',
              title: 'Гонка за очками дополненной реальности стартует прямо сейчас'
              }, {
              classMod: 'is-hidden expand-list__item',
              pic: 'events_1',
              title: 'How To: Make a Good Presentation For Investors'
              }, {
              classMod: 'is-hidden expand-list__item',
              pic: 'events_2',
              title: 'Гонка за очками дополненной реальности стартует прямо сейчас'}]

            mixin eventsItem(item)
              +e.item(class= item.classMod ? item.classMod : '')
                if item.picLink
                  +e.A.item-pic(href='#!')
                    +b.IMG(src=`static/img/${item.pic}.jpg` alt='image')
                else
                  +e.item-pic
                    +b.IMG(src=`static/img/${item.pic}.jpg` alt='image')

                +e.item-date
                  +e.P 07.12.2017
                  +e.A(href='#!')
                +e.item-title.h4
                  +e.A(href='#!')
                    +e.H4= item.title
            each item in eventsList
              +eventsItem(item)

          +e.more(data-items-anim='fade-left')
            +e.A.more-btn.btn._line.expand-list__btn(href='#!') смотреть все
    //end events

    //begin archive
    +b.SECTION.events._archieve
      .container.container_md
        +e.top.block-top
          +e.label.block-label
            +e.P archive

          +e.title.block-title._has-dropdown.has-selection._green
            +e.H2
              b Архив
              = ' '
              | мероприятий

            -dropdownClass = '_themes _green'
            include ../components/dropdown

        +e.list
          -
            archieveList = [{
            pic: 'events_3',
            title: 'How To: Make a Good Presentation For Investors'
            }, {
            pic: 'events_4',
            title: 'Гонка за очками дополненной реальности стартует прямо сейчас'
            }, {
            pic: 'events_5',
            title: 'How To: Make a Good Presentation For Investors'
            }, {
            pic: 'events_6',
            title: 'Гонка за очками дополненной реальности стартует прямо сейчас'
            }, {
            pic: 'events_1',
            title: 'How To: Make a Good Presentation For Investors'
            }, {
            pic: 'events_2',
            title: 'Гонка за очками дополненной реальности стартует прямо сейчас'
            }]

          mixin archieveItem(item)
            +e.item(class= item.classMod ? item.classMod : '' data-items-anim='fade-top')
              +e.item-pic
                +b.IMG(src=`static/img/${item.pic}.jpg` alt='image')
              +e.item-date
                +e.P 07.12.2017
                +e.A(href='#!')
              +e.item-title.h4
                +e.A(href='#!')
                  +e.H4= item.title
          each item in archieveList
            +archieveItem(item)

      -paginationClass = '_default'
      include ../components/pagination
    //end archive

    -subscrClass = '_default'
    include ../sections/subscr