extends ../extend/default

block variables
	- var title = 'Events page';
	- var header  = { classMod: '_white' }

block main
	main.content(data-page='events')

		include ../sections/events

		include ../sections/subscr