extends ../extend/default

block variables
  - var title = 'Event page';

block main
  main.content(data-page='event')

    //begin block-6
    +b.SECTION.block-6._event
      .container.container_md
        +e.top.block-top._event
          +b.A.block-back-btn(href='#!')
            svg.icon.icon-arr-left(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 93.06 42.5')
              polygon(points='1.14 22.38 20.98 42.5 23.75 39.69 7.56 23.26 93.06 23.26 93.06 19.21 7.57 19.21 23.79 2.82 21 0 0 21.23 1.14 22.38')
            span назад к мероприятиям
          +e.title.block-title
            +e.H3 Лекция Владимира Страшкова «UX чек-лист и современное искусство»

          include ../components/social-share

        +e.offer
          +e.offer-text
            +e.offer-title
              +e.H4 О мероприятии
            +e.P
              b Когда:
              = ' '
              | 20. 09. 2018 в 19. 00

            +e.P
              b Где:
              = ' '
              | пространство workit, Нивки, улица Щербакова 2

            +e.P
              b Спикеры:
              = ' '
              | Яна Левковская и Максим Гавриш

            +e.offer-descr
              +e.P
                b Vladimir Strashkov
                = ' '
                | — product designer, UX consultant, art director. В прошлом UX дизайнер в студии самизнаетекого, сооснователь и бывший арт директор агентства Madcats Agency. Много кейсов в портфолио объединены приставкой «ре» — редизайн сайта Ощадбанка, ребрендинг для Планеты

            +e.offer-list.custom-list
              ul
                li Не нужно тратить деньги на ремонт. Мы сами воплотим любую вашу идею и задумку
                li Не беспокойтесь о комунальных платежах , обслуживание офиса, уборку и всех мелочек, которые отнимают ваше время
                li Если ваша команду увеличилась или уменьшилась, мы без проблем подстроим ваше офисное пространство под изменения

            +e.price._offer
              +e.H5 Стоимость:
                span 200 грн.
            +e.offer-links
              +e.A.offer-btn.btn._green(href='#!' target='_blank')
                span.btn__text подробности facebook

              +e.A.offer-btn.btn._black(href='#!' target='_blank')
                span.btn__text купить билет

          +b.slider._md.block-6__offer-slider(data-anim='fade-left' data-anim-duration='1' data-anim-delay='.5')
            +e.body(data-anim='slider')
              +e.item.img-hover
                +e.IMG(src='static/img/block-3_2.jpg' alt='image')
              +e.item.img-hover
                +e.IMG(src='static/img/block-6_offer.jpg' alt='image')
              +e.item.img-hover
                +e.IMG(src='static/img/block-3_7.jpg' alt='image')
            +e.controls
              +e.buttons
              +e.count
                +e.SPAN.count-current
                +e.count-decor
                +e.SPAN.count-all

          // если фото одно - тогда этот блок вместо слайдера
          //<div class="block-6__offer-pic img-hover">
          //  <div class="block-6__offer-img img-hover__item" style="background-image: url(static/img/block-6_offer.jpg);"></div>
          //</div>

        //end block-6

    //TODO: expand items
    -
      events = {
        classMod: '_event',
        title: 'Другие',
        titleSelected: 'мероприятия',
        label: 'related',
        titleClasses: '_green',
        listClasses: 'mobile-slider _double _white-large' }

    -
      eventsList = [{
        pic: 'events_1',
        title: 'How To: Make a Good Presentation For Investors'
      }, {
        pic: 'events_2',
        title: 'Гонка за очками дополненной реальности стартует прямо сейчас'
      }, {
        classMod: 'is-hidden',
        pic: 'events_1',
        title: 'How To: Make a Good Presentation For Investors'
      }, {
        classMod: 'is-hidden',
        pic: 'events_2',
        title: 'Гонка за очками дополненной реальности стартует прямо сейчас'
      }]
    include ../sections/events

    -subscrClass = '_default'
    include ../sections/subscr