extends ../extend/default

block variables
  - var title = 'Home page';
  - var locationMap = true;

block main
  main.content(data-page='home')

    -
      screen = {
        classMod: '_home',
        maskType: 'video',
        maskImg: '1',
        maskVideo: true
      }
    include ../sections/screen

    include ../sections/block-2

    include ../sections/block-3

    include ../sections/block-4

    include ../sections/block-5

    include ../sections/block-6

    -come = {maskType: 'video', maskVideo: true}
    include ../sections/come

    include ../sections/block-8

    include ../sections/block-9

    include ../sections/companies

    -events = { titleSelected: 'Мероприятия', titleClasses: '_black is-selected', listClasses: 'mobile-slider _double _green-large' }
    -
      eventsList = [{
        pic: 'events_1',
        title: 'How To: Make a Good Presentation For Investors'
      }, {
        pic: 'events_2',
        title: 'Гонка за очками дополненной реальности стартует прямо сейчас'
      }]
    include ../sections/events

    include ../sections/locations

    -subscrClass = '_contacts'
    include ../sections/subscr