extends ../extend/default

block variables
	- var title = 'Home page';
	- var locationMap = true;

block main
	main.content(data-page='home')

		include ../sections/screen

		include ../sections/block-2

		include ../sections/block-3

		include ../sections/block-4

		include ../sections/block-5

		include ../sections/block-6

		include ../sections/come

		include ../sections/block-8

		include ../sections/block-9

		include ../sections/block-10

		include ../sections/events

		include ../sections/locations

		include ../sections/subscr