extends ../extend/default

block variables
	- var title = 'Home page';
	- var locationMap = true;

block main
	main.content(data-page='home')
		//
		//include ../components/screen
		//
		//include ../components/block-2
		//
		//include ../components/block-3
		//
		//include ../components/block-4
		//
		//include ../components/block-5
		//
		//include ../components/block-6
		//
		//include ../components/come
		//
		//include ../components/block-8

		include ../components/block-9

		//include ../components/block-10
		//
		//include ../components/block-11
		//
		//include ../components/locations
		//
		//include ../components/subscr