if block1 ? block1 : block1 = []
if block1.label ? block1.label : block1.label = 'events'
if block1.title ? block1.title : block1.title = ''
if block1.titleSelected ? block1.titleSelected : block1.titleSelected = 'Мероприятия'

//begin block-1
+b.SECTION.block-1(class= block1.classMod ? block1.classMod : '' data-self-anim='true')
	.container.container_md
		+e.top.block-top
			+e.label.block-label
				+e.P= block1.label

			+e.title.block-title.has-selection(class= block1.titleClasses ? block1.titleClasses : '')
				+e.H2= block1.title
					b= block1.titleSelected

				if block1.themes
					-dropdownClass = '_themes'
					include ../components/dropdown

		+e.list(class= block1.listClasses ? block1.listClasses : '')
			mixin block1Item(item)
				+e.item(class= item.classMod ? item.classMod : '')
					if item.picLink
						+e.A.item-pic(href='#!')
							+b.IMG(src=`static/img/${item.pic}.jpg` alt='image')
					else
						+e.item-pic
							+b.IMG(src=`static/img/${item.pic}.jpg` alt='image')

					+e.item-date
						+e.P 07.12.2017
						+e.A(href='#!')
					+e.item-title.h4
						+e.A(href='#!')
							+e.H4= item.title
			each item in block1List
				+block1Item(item)

		+e.more
			+e.A.more-btn.btn._line(href='#!') смотреть все
//end block-1