if block4 ? block4 : block4 = []

//begin block-4
+b.SECTION.block-4(class= block4.classMod ? block4.classMod : '')
	.container.container_md
		+e.top.block-top
			+e.label.block-label
				+e.P what we have
			+e.title.block-title.has-selection._black
				+e.H2 У нас
					b есть все
					= ' '
					| и даже больше
			+e.sub-title.block-sub-title
				+e.H5 Мы с большим вниманием относимся к организации рабочего пространства и понимаем потребности наших резидентов. Мы не хвастаемся быстрым интернетом и принтерами, потому что это есть во всех коворкингах. Мы гордимся тем, что у нас есть все и даже больше —
					b собственный массажист
					= ' '
					| и
					= ' '
					b бариста, HR менеджеры и неповторимая атмосфера.

		+b.expand-list.block-4__expand-list.js-expand-list
			+e.inner

				.block-4__item.expand-list__item
					.block-4__item-icon
						img(src=`static/img/icon-hex-square.svg` alt='image')
					h5 Эргономика и продуктивность
					.js-dot
						p Мы создадим пространство для вашей команды - оборудуем, перекрасим, передвинем, купим нужную мебель и забрендируем.

				.block-4__item.expand-list__item
					.block-4__item-icon
						img(src=`static/img/icon-square-circle.svg` alt='image')
					h5 Креативность
					.js-dot
						p Уютное, тихое место для работы. &nbsp; Много пространства и воздуха.

				.block-4__item.expand-list__item
					.block-4__item-icon
						img(src=`static/img/icon-double-circles.svg` alt='image')
					h5 Отельные комнаты
					.js-dot
						p Комнаты для переговоров, собраний, обустроены большими экранами и проэкторами.

				.block-4__item.expand-list__item
					.block-4__item-icon
						img(src=`static/img/icon-cocktail.svg` alt='image')
					h5 Отдых и здоровье
					.js-dot
						p Очень щепетилен в выборе зерен и технологии приготовления, настоящий фанат кофе.

				.block-4__item.expand-list__item.is-hidden
					.block-4__item-icon
						img(src=`static/img/icon-hex-square.svg` alt='image')
					h5 Эргономика и продуктивность
					.js-dot
						p Мы создадим пространство для вашей команды - оборудуем, перекрасим, передвинем, купим нужную мебель и забрендируем.

				.block-4__item.expand-list__item.is-hidden
					.block-4__item-icon
						img(src=`static/img/icon-square-circle.svg` alt='image')
					h5 Креативность
					.js-dot
						p Уютное, тихое место для работы. Много пространства и воздуха.

				.block-4__item.expand-list__item.is-hidden
					.block-4__item-icon
						img(src=`static/img/icon-double-circles.svg` alt='image')
					h5 Отельные комнаты
					.js-dot
						p Комнаты для переговоров, собраний, обустроены большими экранами и проэкторами.

				.block-4__item.expand-list__item.is-hidden
					.block-4__item-icon
						img(src=`static/img/icon-cocktail.svg` alt='image')
					h5 Отдых и здоровье
					.js-dot
						p Очень щепетилен в выборе зерен и технологии приготовления, настоящий фанат кофе.

			+e.BUTTON.btn.btn._line._line-white(type='button') хочу еще

//end block-4