if block5 ? block5 : block5 = []

//begin block-5
+b.SECTION.block-5(class= block5.classMod ? block5.classMod : '')
	.container.container_md
		+e.top.block-top
			+e.label.block-label
				+e.P locations
			+e.title.block-title
				+e.H2 Локации

		+e.list.mobile-slider._double._black
			+e.item
				+e.item-img-wrap.img-hover
					+e.item-img.img-hover__item(style='background-image: url(static/img/block-5_1.jpg)')
				+e.item-text
					+e.item-title.h4
						+e.H4 Нивки
					+e.item-descr
						+e.P Это креативное рабочее пространство, идеально обустроенно для работы, получения новых знаний и отдыха в кругу интересных людей. Расположен в
							b парке возле метро Нивки

					+e.A.item-more.btn._line(href='#!') узнать больше

			+e.item
				+e.item-img-wrap.img-hover
					+e.item-img.img-hover__item(style='background-image: url(static/img/block-5_2.jpg)')
				+e.item-text
					+e.item-title.h4
						+e.H4 Центр
					+e.item-descr
						+e.P Rреативное рабочее пространство, идеально обустроенно для работы, получения новых знаний и отдыха в кругу интересных людей.
							b Расположен в самом центре.

					+e.A.item-more.btn._line(href='#!') узнать больше

//end block-5