if come ? come : come = []
if come.title ? come.title : come.title = 'Хочешь увидеть всё своими глазами? Приходи в гости!'

//begin come
+b.SECTION.come(class= come.classMod ? come.classMod : '')
  +e.inner
    .container.container_md
      +e.H3= come.title

      +e.BUTTON.btn.btn._green(data-popup-target='comePopup' type='button')
        span.btn__text записаться

  +b.mask._come(data-mask-type= come.maskType)
    +e.SVG.svg(version='1.1', xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none')
      defs
        clipPath#come-img-clip
          text.mask__el(y='480') WORK

        filter#come-mask-blur
          fegaussianblur(in='SourceGraphic', stddeviation='8')

        mask#come-video-clip
          rect(x='0' y='0')
          text.mask__el(y='480') WORK

      rect(x='0' y='0' width="1920" height="1080" mask='url(#come-video-clip)')

      image(xlink:href='static/img/come_bg.jpg', x='0', y='0' filter='url(#come-mask-blur)' preserveAspectRatio='xMinYMax slice' width='1280' height='410')
      image(xlink:href='static/img/come_bg.jpg', x='0', y='0' clip-path='url(#come-img-clip)' preserveAspectRatio='xMinYMax slice' width='1280' height='410')

    if come.maskVideo
      +e.VIDEO(playsinline autoplay loop volume='0' onloadedmetadata='this.muted = true')
        +e.SOURCE(src='static/video/video-sample.mp4' type='video/mp4')
//end come