if companies ? companies : companies = []
if companies.title ? companies.title : companies.title = ''
if companies.title ? companies.title : companies.title = ''

//begin companies
+b.SECTION.companies(class= companies.classMod ? companies.classMod : '')
	.container.container_md
		+e.top.block-top
			+e.label.block-label
				+e.P our residents

			+e.title.block-title.has-selection._green
				+e.H2 Наши
					b резиденты

		+e.list._slider.mobile-slider._white-large
			-
				companiesList = [{
				img: 'ingenico',
				descr: 'Стартап "Бери и делай" в сфере криптовалют, команда из 14 человек'
				}, {
				img: 'circle-media',
				descr: 'Компания "Валютники" в сфере финтех. Команда из 9 человек'
				}, {
				img: 'bmc',
				descr: 'Стартап "Бери и делай" в сфере криптовалют, команда из 14 человек'
				}, {
				img: 'bike-roar',
				descr: 'Компания "Валютники" в сфере финтех. Команда из 9 человек'
				}]

			mixin companiesItem(item)
				+e.item
					+e.item-icon
						+e.A(href='#!' target='_blank')
							+e.IMG(src=`static/img/${item.img}.png` alt='image')
					p= item.descr
			each item in companiesList
				+companiesItem(item)

	+e.decor-line
//end companies