if events ? events : events = []
if events.title ? events.title : events.title = ''

//begin events
+b.SECTION.events(class= events.classMod ? events.classMod : '')
	.container.container_md
		+e.top.block-top
			+e.label.block-label
				+e.P events

			+e.title.block-title.has-selection._black.is-selected
				+e.H2
					b Мероприятия

		+e.list.mobile-slider._double._green-large(data-anim='group')
			-
				eventsList = [{
					pic: 'events_1',
					title: 'How To: Make a Good Presentation For Investors'
				}, {
					pic: 'events_2',
					title: 'Гонка за очками дополненной реальности стартует прямо сейчас'
				}]

			mixin eventsItem(item)
				+e.item
					+e.item-pic
						+b.IMG(src=`static/img/${item.pic}.jpg` alt='image')
					+e.item-date
						+e.P 07.12.2017
						+e.A(href='#!')
					+e.item-title.h4
						+e.A(href='#!')
							+e.H4= item.title
			each item in eventsList
				+eventsItem(item)

		+e.more
			+e.A.more-btn.btn._line(href='#!') смотреть все
//end events