if screen ? screen : screen = []
if screen.title ? screen.title : screen.title = 'Намного больше, чем пространство'
if screen.subTitle ? screen.subTitle : screen.subTitle = 'Место, где рождаются идеи'
if screen.btnText ? screen.btnText : screen.btnText = 'хочу в гости'

//begin screen
+b.SECTION.screen(class= screen.classMod ? screen.classMod : '')
  +e.inner
    +e.container.container._md
      +e.title
        +e.H1= screen.title
      +e.sub-title
        +e.H5= screen.subTitle
      +e.BUTTON.btn.btn._green(data-popup-target='comePopup' type='button')
        span.btn__text= screen.btnText

  +b.mask._screen(data-mask-type= screen.maskType)
    +e.SVG.svg(version='1.1', xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none')
      defs
        clipPath#screen-img-clip
          polygon.mask__el(points='846.94 470.89 725.63 0 494.05 0 372.74 470.89 236 0 0 0 239.32 681 506.37 681 609.84 277.9 713.32 681 980.36 681 1219.68 0 983.69 0 846.94 470.89')

        filter#screen-mask-blur
          fegaussianblur(in='SourceGraphic', stddeviation= screen.maskBlur ? screen.maskBlur : '10')

        mask#sreen-video-clip
          rect(x='0' y='0')
          polygon.mask__el(points='846.94 470.89 725.63 0 494.05 0 372.74 470.89 236 0 0 0 239.32 681 506.37 681 609.84 277.9 713.32 681 980.36 681 1219.68 0 983.69 0 846.94 470.89')

      rect(x='0' y='0' width="1920" height="1080" mask='url(#sreen-video-clip)')

      image(xlink:href=`static/img/screen_${screen.maskImg}.jpg`, x='0', y='0' filter='url(#screen-mask-blur)' preserveAspectRatio='xMidYMin slice' width='1920' height='1080' opacity= screen.maskImgOpacity ? screen.maskImgOpacity : '1')
      image(xlink:href=`static/img/screen_${screen.maskImg}.jpg`, x='0', y='0' clip-path='url(#screen-img-clip)' preserveAspectRatio='xMidYMin slice' width='1920' height='1080')

    if screen.maskVideo
      +e.VIDEO(autoplay loop volume='0' onloadedmetadata='this.muted = true')
        +e.SOURCE(src='static/video/video-sample.mp4' type='video/mp4')

  +e.more
    +e.SPAN.more-text.h6 узнать больше
    +e.SVG.more-icon(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 93.06 42.5')
      polygon(points='91.92 20.12 72.08 0 69.31 2.82 85.5 19.24 0 19.24 0 23.29 85.49 23.29 69.27 39.68 72.06 42.5 93.06 21.27 91.92 20.12')

//end screen