if subscr ? subscr : subscr = []

//begin subscription
+b.SECTION.subscr(class= subscrClass ? subscrClass : '')
	.subscr__container.container.container_md(data-anim='group')
		+e.title
			+e.H3 Подпишись и получай новости о событиях и лекциях в Work IT&nbsp; первым!

		+e.form-wrap
			form.form(action='#!')
				.form-group.form-group_has-btn
					.form-group
						input.form-control(type='text' name='' autocomplete='off' data-validation='email required')
						label.control-label
							span Ваш email
						.help-block Введите ваш Email

					label.form-btn.btn.btn_black
						+b.INPUT.btn(type='submit' value='подписаться')
//end subscription