if team ? team : team = []

//begin team
+b.SECTION.team(class= team.classMod ? team.classMod : '')
  .container.container_md
    +e.top.block-top
      +e.label.block-label
        +e.P our team

      +e.title.block-title.has-selection._black
        +e.H2
          b Команда
          = ' '
          | &nbsp;workit

    +e.expand-list.js-expand-list
      +e.inner(class= team.innerClass ? team.innerClass : '').expand-list__inner
        mixin teamMember(member)
          +e.member.expand-list__item
            +e.member-pic.img-hover
              +e.IMG(src=`static/img/${member.pic}.jpg` alt='image')
            +e.member-name.h4
              +e.H4= member.name
            +e.member-pos.h5
              +e.H5= member.position
            +e.member-descr
              +e.P= member.description

        each member in membersList
          +teamMember(member)

      +e.BUTTON.expand-btn.expand-list__btn.btn._line(type='button') хочу еще

//end team